<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="app/libs/bootstrap.css">
</head>

<body ng-app="ContactApp">

    1 + 2 = {{1 + 2}}
    <script src="app/libs/jquery.js"></script>
    <script src="app/libs/angular.js"></script>
    <script src="app/libs/angular-route.js"></script>
    <script src="app/libs/bootstrap.js"></script>

    <script src="app/controllers/contact-controller.js"></script>
</body>

</html>